<div class="wrapper">
  <mat-card (click)="onCardClick()" class="image">
    <mat-card-header>
      <!--div mat-card-avatar class="example-header-image"></div-->
      <mat-card-title>{{member.fullName}}</mat-card-title>
      <mat-card-subtitle>{{member.occupation}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="member.img" [alt]="'Photo of '  +  member.fullName.toLowerCase()">
    <mat-card-content>
      <p>
        {{member.introduction}}
      </p>
    </mat-card-content>
    <mat-card-actions>
     <mat-expansion-panel #more [hideToggle]="true">
       <mat-expansion-panel-header class="description-panel" [expandedHeight]="'48px'" [collapsedHeight]="'48px'">
         <h2
         class="mat-h2"
         style="margin: 0px">
         {{more.expanded ? 'Collapse' : 'Expand'}}
       </h2></mat-expansion-panel-header>
       <div style="margin-top: 10px;">
         {{member.description}}
       </div>
     </mat-expansion-panel>
    </mat-card-actions>
  </mat-card>
</div>
