@import "../../../../theme";

mat-card {
  //max-width: 400px;
}

.col {
  flex-basis: 50%;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.image {
  width: 90%;
  height: auto;
  flex-basis: 320px;
  max-width: 400px;
}

mat-expansion-panel-header.description-panel {
  background: mat-color($app-primary) !important;
  color: white;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-expansion-panel {
  box-shadow: none !important;
}
