@import "../styles.scss";

div.container {
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img.logo {
    width: 80%;
    height: auto;
    transition: all .2s ease-in-out; 
    &:hover {
        transform: scale(1.02); 
    }
}

img.linkedin {
    margin-top: 15px;
    transition: all .2s ease-in-out; 
    &:hover {
        transform: scale(1.1); 
    }
}

img:hover {
    cursor: pointer;
    z-index: 1  
}


@media only screen and (max-width: 600px) {
    div.container {
        justify-content: center;
    }
  }
  
  @media only screen and (min-width: 600px) {
    div.container {
        justify-content: center;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .container {
        justify-content: start;
    }
  }