<h1 class="mat-h1 title">{{title}}</h1>
<div class="btn-wrapper">
  <button mat-fab class="btn floating-btn" (click)="onMenuClick()" style="left: 20%;"><mat-icon>{{opened ? 'closed' : 'menu'}}</mat-icon></button>

  <mat-expansion-panel [expanded]="opened" style="background: transparent; box-shadow: none;">
    <div class="menu-wrapper">
      <button mat-fab class="btn floating-btn" (click)="onMenuClick()" routerLink="/home"><mat-icon>home</mat-icon></button>
      <button mat-fab class="btn floating-btn" (click)="onMenuClick()" routerLink="/members"><mat-icon>face</mat-icon></button>
      <button mat-fab class="btn floating-btn" (click)="onMenuClick()" routerLink="/contact"><mat-icon>phone</mat-icon></button>
    </div>
  </mat-expansion-panel>
</div>
<div class="spacer"></div>
