.btn-wrapper {
  position: fixed;
  top: 20px;
  right: 0px;
  z-index: 200;
}

.title {
  position: fixed;
  top: 30px;
  left: calc(50% - 50px);


  z-index: 200;
}

.menu-wrapper {
  height: 0%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.menu-wrapper button {

}

.btn {
  margin-bottom: 50px;
}
